@(deviceName:String,messages: List[Message])

@Layouts.mainPrivate(Messages("showMessages.title")) {

<div class="basicContainer">
    <div class="general-container">

        <div class="breadcrumb-container">
            <ul class="breadcrumb">
                <li class="big"><a href="/dashboard">@Messages("breadcrumb.home")</a></li>
                <li class="big"><a href="/devices">@Messages("breadcrumb.devices")</a></li>
                <li class="big"><a href="/devices/@deviceName">@deviceName</a></li>
                <li class="active big">@Messages("breadcrumb.messages")</li>
            </ul>
        </div>

        @if(messages.isEmpty) {

            <p class="super-big center">@Messages("showMessages.noMessages")</p>

        }else{
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th> @Messages("showMessages.content")</th>
                            <th>@Messages("showMessages.eventTime")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(message <- messages) {
                            <tr>
                                <td class="asButton">@Messages("showMessages.show")</td>
                                <td>@message.formattedEventTime</td>
                            </tr>
                            @if(!message.content.isEmpty) {
                                <tr class="expandable">
                                    <td>
                                        <div>
                                            <table>
                                                <tbody>
                                                    @for((key,value) <- message.content) {
                                                        <tr>
                                                            <td>@key:</td>
                                                            <td>@value</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

        <div class="center">
            <a href="/messages/@deviceName/deleteAll" class="btn btn-primary btn-lg no-margin-left">@Messages("showMessages.deleteAll")</a>
        </div>

    </div>
</div>

<script type="text/javascript">
$(".expandable" ).hide()
$(".asButton").click(function() {
$(this).closest('tr').next('tr.expandable').fadeToggle();
})
</script>
}

