@import url(http://fonts.googleapis.com/css?family=Exo);

/** Reset all those properties I am not interested in*/
dl, dt{
    margin:0px;
    font-family: sans-serif;
}

div.jumbotron{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}
div.jumbocontainer{
    background-image : url("./img/Simspons_Clouds.jpg")
}

div.genBody{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

/*Paper-CSS Overwrite*/
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary{
    background-image: radial-gradient(circle, #3380C0 80%, rgba(31, 102, 158, 0.67) 81%);
}



.margin-bottom-sm{
    margin-bottom: 15px;
}
.margin-top-sm{
    margin-top: 15px;
}

.innerDiv{
    width: 50%;
    margin: 0 auto;
}
.basicContainer{
    display: block;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*Input forms*/
.imput-block {
    display: block;
    width: 100%;
}
/* Used only when  navbar is top-fixed */
#content{
    /*margin-top:64px;*/
}


/* Main.css*/
.footer{
    border-top: 1px solid;
    border-top-color: #dddddd;
    text-align: center;
    padding-top: 30px;
}

/*Modificacion sobre .navbar*/
.navbar{
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0px;
}

.navbar {
    border-bottom: 1px solid;
    border-bottom-color: #A6A3A3;
}


.navbar-default .navbar-brand:hover {
    color: white;
}

.form-control .col-lg-8 .search{
    background-color: white;
}

.navbar-default{
    background-color: #002346;
    font-family: 'Exo', sans-serif;
}

.navbar-default .navbar-brand{
    font-weight: bold;
    color:#cccccc;
    /* Padding para el logo
    padding-bottom: 0px;
    padding-top: 3px;*/
}

.navbar-nav > li{
    margin:8px;
}

@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

#signinLink {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-size: 14px;
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
    border: solid #4CAF9A 2px;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

#signinLink:hover {
    text-decoration: none;
    color: #ffffff;
    border: solid #4CAF9A 2px;
    background-color: #4CAF9A;
}

#registerLink {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-size: 14px;
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
    border: solid #3380C0 2px;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#registerLink:hover {
    text-decoration: none;
    color: #ffffff;
    border: solid #3380C0 2px;
    background-color: #3380C0;
}

#signoutLink {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-size: 14px;
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
    border: solid #7740B3 2px;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

#signoutLink:hover {
    text-decoration: none;
    color: #ffffff;
    border: solid #7740B3 2px;
    background-color: #7740B3;
}

.basicFormButton{
    margin:15px;
    margin-bottom:10px;
}

input[type="text"],input[type="password"]{
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
}
.input-block{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}
.input-block > dd > input{
    border: 1px solid #CCC;
    border-radius: 5px;
}

.input-block > dd > input:focus{
    box-shadow: 0.2px 0.2px 3px #0C7CD5;
    border-color: #0C7CD5;
}

.panel-subnavbar{
    overflow: hidden;
    background-color: #F5F8FA;
    border-bottom: 1px solid;
    border-bottom-color: #dddddd;
}

/*breadcrumb modification */
.breadcrumb{
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff;
}

.breadcrumb > li.big{
    font-size:20px;
}

/**********************************************************************************************************************/
/**************************************************** SIGN IN FORM ****************************************************/
/**********************************************************************************************************************/
div#signin{
    width: 400px;
    margin: 60px auto;
    margin-top: 84px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
}

form#authentication{
    border: 1px solid #CCC;
    border-radius: 3.01px;
    box-shadow: 0.5px 0.5px 5px #888888;
}

/*Login form header*/
.authheader{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    background-color: #5185B1;
    border: 1px solid #5185B1;
    border-radius: 3px 3px 0px 0px;
    position: relative;
    margin: 0px;
    padding: 10px 20px;
}
#headertitle{
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    color:#ffffff;
}

/**********************************************************************************************************************/
/****************************************************** DASHBOARD *****************************************************/
/**********************************************************************************************************************/

.actions-container{
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-bottom: 3%;
    padding-top: 3%;
}

/*Temporal?*/
@media (min-height: 560px){
    .actions-container{
        min-height: 368px;
    }
}
.action{
    width:215px;
    margin-left: auto;
    margin-right: auto;
}
.action-img{
    border-radius: 8px;
    background-color: #2D80DF;
    padding-bottom: 10px;
    padding-top: 10px;
}

.single-action-container{
    margin-bottom: 15px;
}

a.action_link{
    text-decoration: none;
    font-size: 16px;
}

.device.search{

}

/*@media (max-width: 990px){
    .sm-margin-top{
        margin-top: 15px;
    }
    a.btn.btn-primary.btn-lg {
        margin-left: 20%;
    }
}*/

/**********************************************************************************************************************/
/****************************************************** REGISTER DEVICE ***********************************************/
/**********************************************************************************************************************/

input.classic-input{
    border: solid #A3A3A3 1px;
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 6px;
}

input.classic-input:focus{
    border: solid #8C8C8C 1px;
    background-color: #ededed;
}

/**********************************************************************************************************************/
/****************************************************** NETWORK DETAIL ************************************************/
/**********************************************************************************************************************/

.followers-container{
    float: left;
    width:420px;
}

/**********************************************************************************************************************/
/********************************************************** GENERAL ***************************************************/
/**********************************************************************************************************************/

.primary-container{
    width:980px ;
    margin-left: auto;
    margin-right: auto;
}

.general-container{
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-bottom: 3%;
    padding-top: 3%;
}

/*Temporal?*/
@media (min-height: 560px){
    .general-container{
        min-height: 368px;
    }
}

.main-container{
    position: relative;
    float:left;
    width:650px;
}

/*************************************************** Side Container ***************************************************/
.side-container{
    position: relative;
    float:right;
    border: 1px solid #CCC;
    border-radius: 3.01px;
    /*box-shadow: 0.5px 0.5px 5px #888888;*/
    min-width: 200px;
    max-height: 142px;
}

.side-container-header{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    background-color: #5185B1;
    border: 1px solid #5185B1;
    border-radius: 3px 3px 0px 0px;
    position: relative;
    margin: 0px;
    padding: 5px 10px;
}

.side-container > ul{
    list-style-type: none;
    padding-left:0;
}

.side-container > ul > li{

}
.side-container > ul > li > a{
    text-decoration: none;
}

.side-container > ul > li:hover{
    background-color: #f5f5f5;
    text-decoration: none;
}

#side-container-title{
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    color:#ffffff;
}

.side-container-item{
    padding: 5px 10px;
}

/*********************************************************************************************************************/

.simple-table{
    display: table;
    border-spacing: 2px;
    border-color: grey;
}

.simple-cell{
    border: 2px solid #ccc;
    padding: 5px;
}

.label-cell{
    background-color: #88BEED;
    color: white;
}

.big{
    font-size: 16px;
}
.super-big{
    font-size: 48px;
}

.no-margin-bot{
    margin-bottom: 0px;
}
.no-margin-left{
    margin-left: 0px;
}

.green-background{
    background-color: #4FD800;
}

.red-background{
    background-color: #D80000;
}