@(networks: List[Network])

@Layouts.mainPrivate(Messages("manageNetworks.title")) {
    <div class="basicContainer">
        <div class="general-container">

            <div class="breadcrumb-container">
                <ul class="breadcrumb">
                    <li class="big"><a href="/dashboard">@Messages("breadcrumb.home")</a></li>
                    <li class="active big">@Messages("breadcrumb.networks")</li>
                </ul>
            </div>

            <legend>@Messages("manageNetworks.legend")</legend>

            @if(networks.isEmpty) {

                <p>@Messages("manageNetworks.noNetworks")</p>
                <p>@Messages("manageNetworks.availableNetworks")</p>

            }else{
                <ul class="list-group">
                    @for(network <- networks) {
                        <li class="list-group-item">
                            <span class="badge">@Messages("empty")</span>
                            <a class="big" href="/networks/@network.name">@network.name</a>
                            <p class="no-margin-bot">@Messages("manageNetworks.privateNetwork")</p>
                        </li>
                    }
                </ul>
            }

            <div class="center">
                <a href="/networks/register" class="btn btn-primary btn-lg">@Messages("manageNetworks.newNetwork")</a>
            </div>

        </div>
    </div>


}
