@(networks: List[Network])(implicit flash: Flash)

@Layouts.mainPrivate(Messages("manageNetworks.title")) {
    <div class="basicContainer">
        <div class="general-container">

            @if(flash.get("success") isDefined){
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>@flash.get("success")</p>
                </div>
            }

            <div class="breadcrumb-container">
                <ul class="breadcrumb">
                    <li class="big"><a href="/dashboard">@Messages("breadcrumb.home")</a></li>
                    <li class="active big">@Messages("breadcrumb.networks")</li>
                </ul>
            </div>

            <legend>@Messages("manageNetworks.legend")</legend>

            @if(networks.isEmpty) {

                <p class="center super-big no-margin-bot">@Messages("manageNetworks.noNetworks")</p>
                <p class="center big">@Messages("manageNetworks.availableNetworks")</p>

            }else{
                <ul class="list-group">
                    @for(network <- networks) {
                        <li class="list-group-item">
                            @if(network.activated) {
                                <span class="badge green-background">@Messages("active")</span>
                            }else{
                                <span class="badge red-background">@Messages("inactive")</span>
                            }
                            <a class="big" href="/networks/@network.name">@network.name</a>
                            <p class="no-margin-bot">@Messages("manageNetworks.privateNetwork")</p>
                        </li>
                    }
                </ul>
            }

            <div class="center">
                <a href="/networks/register" class="btn btn-primary btn-lg no-margin-left">@Messages("manageNetworks.newNetwork")</a>
            </div>

        </div>
    </div>


}
