@(followers: List[Follower],name: String)
@Layouts.mainPrivate(Messages("networkDetailTitle")) {
<div class="basicContainer">
    <div class="general-container">

        <div class="breadcrumb-container">
            <ul class="breadcrumb">
                <li class="big"><a href="/dashboard">Home</a></li>
                <li class="big"><a href="/networks">Networks</a></li>
                <li class="active big">@name</li>
            </ul>
        </div>

        <div class="side-container">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li class="disabled"><a href="#">Disabled</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="main-container">
        @if(followers.isEmpty) {

            <p>Empty Network :(</p>

            <div class="center">
                <a href="/networks/@name/register" class="btn btn-primary btn-lg">New Follower</a>
            </div>

        }else{
            <div>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th class="center">From</th>
                            <th class="center">-></th>
                            <th class="center">To</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(follower <- followers){
                        <tr>
                            <td class="center"><a href="/devices/@follower.deviceX">@follower.deviceX</a></td>
                            <td class="center">Follows</td>
                            <td class="center"><a href="/devices/@follower.deviceY">@follower.deviceY</a></td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        }
        </div>
    </div>
</div>
}
