@(network: Network)(implicit flash: Flash)
@Layouts.mainPrivate(Messages("networkDetail.title")) {
<div class="basicContainer">
    <div class="general-container">

        @if(flash.get("success") isDefined){
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>@flash.get("success")</p>
            </div>
        }
        @if(flash.get("failure") isDefined){
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>@flash.get("failure")</p>
            </div>
        }

        <div class="breadcrumb-container">
            <ul class="breadcrumb">
                <li class="big"><a href="/dashboard">@Messages("breadcrumb.home")</a></li>
                <li class="big"><a href="/networks">@Messages("breadcrumb.networks")</a></li>
                <li class="active big">@network.name</li>
            </ul>
        </div>

        <div class="main-container">

            <div class="side-container">
                <div class="side-container-header">
                    <h1 id="side-container-title">@Messages("networkDetail.actions")</h1>
                </div>
                <ul class="">
                    @if(network.activated){
                        <li><a href="/networks/@network.name/deactivate">
                            <div class="side-container-item">
                            @Messages("networkDetail.deactivate")
                            </div>
                        </a></li>
                    }else{
                        <li><a href="/networks/@network.name/activate">
                            <div class="side-container-item">
                            @Messages("networkDetail.activate")
                            </div>
                        </a></li>
                    }
                    <li><a href="/networks/@network.name/followers">
                        <div class="side-container-item">
                        @Messages("networkDetail.followers")
                        </div>
                    </a></li>
                    <li><a href="/networks/@network.name/delete">
                        <div class="side-container-item">
                        @Messages("networkDetail.delete")
                        </div>
                    </a></li>
                </ul>
            </div>

            <table class="simple-table">
                <tbody>
                    <tr>
                        <td class="simple-cell label-cell">@Messages("networkDetail.networkName")</td>
                        <td class="simple-cell">@network.name</td>
                    </tr>
                    <tr>
                        <td class="simple-cell label-cell">@Messages("networkDetail.accountID")</td>
                        <td class="simple-cell">@network.accountID</td>
                    </tr>
                    <tr>
                        <td class="simple-cell label-cell">@Messages("networkDetail.activated")</td>
                        <td class="simple-cell">@network.activated</td>
                    </tr>
                    <tr>
                        <td class="simple-cell label-cell">@Messages("networkDetail.privateNetwork")</td>
                        <td class="simple-cell">@Messages("networkDetail.privateNetwork")</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
}
