@(deviceRegisterForm: Form[Follower], networkName: String, devices: List[Device])

@Layouts.mainPrivate(Messages("registerFollower.title")) {
<div class="basicContainer">
    <div class="general-container">
        @if(deviceRegisterForm.hasErrors){
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>@Messages("signinGlobalError")</p>
            </div>
        }

        <div class="breadcrumb-container">
            <ul class="breadcrumb">
                <li class="big"><a href="/dashboard">@Messages("breadcrumb.home")</a></li>
                <li class="big"><a href="/networks">@Messages("breadcrumb.networks")</a></li>
                <li class="big"><a href="/networks/@networkName">@networkName</a></li>
                <li class="active big">@Messages("breadcrumb.new")</li>
            </ul>
        </div>

        <div id="addDeviceInput">
            <form class="form-horizontal" action="/networks/@networkName/register" method="POST">
                <fieldset>

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="center">@Messages("registerFollower.deviceA")</th>
                                <th class="center">@Messages("registerFollower.follows")</th>
                                <th class="center">@Messages("registerFollower.deviceB")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <div class="form-group">
                                    <td class="center">
                                        <!--Device X -->
                                        <select id="deviceX" name="deviceX">
                                        @for(device <-devices){
                                            <option  value="@device.DeviceID">@device.Identifier</option>
                                        }
                                        </select>
                                    </td>
                                    <td class="center">
                                        <i class="fa fa-2x fa-long-arrow-right"></i>
                                    </td>
                                    <td class="center">
                                        <!-- Device Y -->
                                        <select id="deviceY" name="deviceY">
                                        @for(device <-devices){
                                            <option value="@device.DeviceID">@device.Identifier</option>
                                        }
                                        </select>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group center">
                        <button type="submit" class="btn btn-lg btn-primary">@Messages("registerFollower.newFolower")</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

}
