@(device: Device)
@Layouts.mainPrivate(Messages("deviceDetailTitle")) {
<div class="basicContainer">
    <div class="general-container">

        <div class="breadcrumb-container">
            <ul class="breadcrumb">
                <li class="big"><a href="/dashboard">Home</a></li>
                <li class="big"><a href="/devices">Devices</a></li>
                <li class="active big">@device.Identifier</li>
            </ul>
        </div>

        <div class="side-container">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li class="disabled"><a href="#">Disabled</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="main-container">
            <table class="simple-table">
                <tbody>
                    <tr>
                        <td class="simple-cell">@Messages("deviceDetail.Identifier")</td>
                        <td class="simple-cell">@device.Identifier</td>
                    </tr>
                    <tr>
                        <td class="simple-cell">@Messages("deviceDetail.accountID")</td>
                        <td class="simple-cell">@device.AccountID</td>
                    </tr>
                    <tr>
                        <td class="simple-cell">@Messages("deviceDetail.activated")</td>
                        <td class="simple-cell">@device.Activated</td>
                    </tr>
                    <tr>
                        <td class="simple-cell">@Messages("deviceDetail.deviceID")</td>
                        <td class="simple-cell">@device.DeviceID</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
}
