@(device: Device)
@Layouts.mainPrivate(Messages("deviceDetail.title")) {
<div class="basicContainer">
    <div class="general-container">

        <div class="breadcrumb-container">
            <ul class="breadcrumb">
                <li class="big"><a href="/dashboard">@Messages("breadcrumb.home")</a></li>
                <li class="big"><a href="/devices">@Messages("breadcrumb.devices")</a></li>
                <li class="active big">@device.Identifier</li>
            </ul>
        </div>

        <div class="main-container">

            <div class="side-container">
                <div class="side-container-header">
                    <h1 id="side-container-title">@Messages("deviceDetail.actions")</h1>
                </div>
                <ul class="">
                    <li><a href="/messages/@device.Identifier">
                        <div class="side-container-item">
                        @Messages("deviceDetail.messages")
                        </div>
                    </a></li>
                    @if(device.Activated){
                        <li><a href="/devices/@device.Identifier/deactivate">
                            <div class="side-container-item">
                            @Messages("deviceDetail.deactivate")
                            </div>
                        </a></li>
                    }else{
                        <li><a href="/devices/@device.Identifier/activate">
                            <div class="side-container-item">
                            @Messages("deviceDetail.activate")
                            </div>
                        </a></li>
                    }
                    <li><a href="/devices/@device.Identifier/delete">
                        <div class="side-container-item">
                        @Messages("deviceDetail.delete")
                        </div>
                    </a></li>
                </ul>
            </div>

            <table class="simple-table">
                <tbody>
                    <tr>
                        <td class="simple-cell label-cell">@Messages("deviceDetail.identifier")</td>
                        <td class="simple-cell">@device.Identifier</td>
                    </tr>
                    <tr>
                        <td class="simple-cell label-cell">@Messages("deviceDetail.accountID")</td>
                        <td class="simple-cell">@device.AccountID</td>
                    </tr>
                    <tr>
                        <td class="simple-cell label-cell">@Messages("deviceDetail.activated")</td>
                        <td class="simple-cell">@device.Activated</td>
                    </tr>
                    <tr>
                        <td class="simple-cell label-cell">@Messages("deviceDetail.deviceID")</td>
                        <td class="simple-cell">@device.DeviceID</td>
                    </tr>
                </tbody>
            </table>
        </div> @*main-container*@
    </div>@*general-container*@
</div>@*basic-container*@
}
