@(devices: List[Device])

@Layouts.mainPrivate(Messages("manageDevices.title")) {
<div class="basicContainer">
    <div class="general-container">

        <div class="breadcrumb-container">
            <ul class="breadcrumb">
                <li class="big"><a href="/dashboard">Home</a></li>
                <li class="active big">Devices</li>
            </ul>
        </div>


        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input class="classic-input" type="text" placeholder=@Messages("manageDevices.searchText")>
        </div>



        @if(devices.isEmpty) {

            <p>No devices :(</p>

        }else{
        <div>
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Unique ID</th>
                        <th>Activated</th>
                        <th>Subscriptions</th>
                    </tr>
                </thead>
                <tbody>
                    @for(device <- devices){
                        <tr>
                            <td><a href="/devices/@device.Identifier">@device.Identifier</a></td>
                            <td>@device.DeviceID</td>
                            <td>@device.Activated</td>
                            @if(device.Subscriptions.isEmpty){
                                <td>@Messages("noSubscriptions")</td>
                            }else{
                                <td><a href="#">@Messages("viewSubscriptions")</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }

        <div class="center">
            <a href="/devices/register" class="btn btn-primary btn-lg">New Device</a>
        </div>
    </div>
</div>
}
