@(devices: List[Device])

@Layouts.main(Messages("manageDevicesTitle")) {
<div class="actions-container">

    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Soy un titulo bien grande</h2>
            <span>Aqui puedes ver tus dispositivos, asi como añadir nuevos</span>
        </div>
    </div>

    <div class="col-md-12 margin-bottom-sm">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="classic-input" type="text" placeholder=@Messages("device.search")>
            </div>
        </div>

        <div class="col-md-2 sm-margin-top">
            <a href="/device/register" class="btn btn-primary btn-lg">Large button</a>
        </div>

    </div>
    @if(devices.isEmpty) {

        <p>No devices :(</p>

    }else{
    <div>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Unique ID</th>
                    <th>Activated</th>
                    <th>Subscriptions</th>
                </tr>
            </thead>
            <tbody>
                @for(device <- devices){
                    <tr>
                        <td><a href="/devices/@device.Identifier">@device.Identifier</a></td>
                        <td>@device.DeviceID</td>
                        <td>@device.Activated</td>
                        @if(device.Subscriptions.isEmpty){
                            <td>@Messages("noSubscriptions")</td>
                        }else{
                            <td><a href="#">@Messages("viewSubscriptions")</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
</div>

}
