@(userForm: Form[Account])

@import views.html.helper._

@Layouts.main(Messages("register.title")) {
<div id="signin">
    @if(userForm.hasErrors){
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>@Messages("signinGlobalError")</p>
        </div>
    }
    <form class="form-horizontal" action="/user/register" method="POST">
        <fieldset>
            <legend>@Messages("register.legend")</legend>
            <!--Username-->
            <div class="form-group">
                <div class="col-lg-10">
                    @inputText(userForm("Username"),
                    '_label -> Messages("register.username"),
                    '_class -> "input-block",
                    '_error -> userForm.globalError,
                    '_showConstraints -> false)
                </div>
            </div>

            <!--Password-->
            <div class="form-group">
                <div class="col-lg-10">
                @inputPassword(userForm("Password.main"),
                    '_label -> Messages("register.password"),
                    '_class -> "input-block",
                    '_help -> Messages("register.passwordHelp"),
                    '_showConstraints -> false)
                </div>
            </div>

            <!--Repeat Password-->
            <div class="form-group">
                <div class="col-lg-10">
                @inputPassword(userForm("Password.confirm"),
                    '_label -> Messages("register.repeatPassword"),
                    '_class -> "input-block ",
                    '_showConstraints -> false)
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <div class="col-lg-10">
                @inputText(userForm("Email"),
                    '_label -> Messages("register.email"),
                    '_class -> "input-block",
                    '_error -> userForm.globalError,
                    '_showConstraints -> false)

                </div>
            </div>

            <!--Real Name-->
            <div class="form-group">
                <div class="col-lg-10">
                @inputText(userForm("RealName"),
                    '_label -> Messages("register.realName"),
                    '_class -> "input-block",
                    '_showConstraints -> false)
                </div>
            </div>

            <!--Country-->
            <div class="form-group">
                <div class="col-lg-10">
                @inputText(userForm("Country"),
                    '_label -> Messages("register.country"),
                    '_class -> "input-block",
                    '_showConstraints -> false)
                </div>
            </div>

            <!--Country-->
            <div class="form-group">
                <div class="col-lg-10">
                @inputText(userForm("PhoneNumber"),
                    '_label -> Messages("register.phoneNumber"),
                    '_class -> "input-block",
                    '_showConstraints -> false)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary">@Messages("register.join")</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>

}
