@(message: String)(implicit lang: Lang)
<!-- Metas -->
<meta charset="utf-8">
@Layouts.main(Messages("index.title")) {

    <div class="col-xs-12 col-lg-12 genBody">
        <div class="jumbocontainer">
            <div class="jumbotron">
                <h1>@Messages("index.jumbotron.h1")</h1>
                <p>@Messages("index.jumbotron.p")</p>
                <p><a class="btn btn-primary btn-lg">@Messages("index.jumbotron.button")</a></p>
            </div>
        </div>
        <div class="basicContainer">
            <div class="col-xs-6 col-lg-4">
                <h2 class="center">@Messages("index.heading1.title")</h2>
                <p>@Messages("index.heading1.text")</p>
                @*<p><a class="btn btn-default" href="#" role="button">@Messages("index.container.button") &raquo;</a></p>*@
            </div>
            <div class="col-xs-6 col-lg-4">
                <h2 class="center">@Messages("index.heading2.title")</h2>
                <p>@Messages("index.heading2.text")</p>
                @*<p><a class="btn btn-default" href="#" role="button">@Messages("index.container.button") &raquo;</a></p>*@
            </div>
            <div class="col-xs-6 col-lg-4">
                <h2 class="center">@Messages("index.heading3.title")</h2>
                <p>@Messages("index.heading3.text")</p>
                @*<p><a class="btn btn-default" href="#" role="button">@Messages("index.container.button") &raquo;</a></p>*@
            </div>
        </div>
    </div>

}
