@import controllers.routes

@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/stylesheets/BootstrapCDN/Paper/bootstrap_paper.css">
        <link rel="stylesheet" href="/assets/stylesheets/application.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css">
        <!-- Icon-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/images/icons/Ticon_x48.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/assets/images/icons/Ticon_x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/Ticon_x114.png">
        <!--Javascript-->
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/2.1.1/jquery.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
        <script src="/assets/javascripts/bootstrap.js" type="text/javascript"></script>
        <script src="/assets/javascripts/hello.js" type="text/javascript"></script>

    </head>
    <body>
        <div class="navbar navbar-default"><!-- navbar-fixed-top -->
            <div class="basicContainer">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">THERA</a>
                </div>

                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li><a  href="/dashboard">Networks</a></li>
                        <li><a  href="/user/signin">My Profile</a></li>
                        <li><a  href="/dashboard">Help</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a  href="/user/signout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="content">
            @content
        </div>

        <div class="col-xs-12 col-lg-12">
            <div class="footer" role="contentinfo">

                <i class="fa fa-copyright"></i> 2015 Fernando Rodríguez Sánchez - Universidad de Oviedo
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </body>
</html>
